%main
  
  %h1 Manage your spaces

  .content
    %table.table.table-striped.margin
      %thead
        %td Name
        %td Description
        %td

      %tbody
        -@spaces.each do |space|
          %tr
            %td.span3= space.name
            %td= space.description
            %td= link_to 'Manage', user_space_appointment_index_path(current_user.id, space.id)
