#calendar_holder

  %section
    = render :partial => 'header'
    
  %section
    -(@date..@date.advance(:days=> @date.days_to_week_start - 1)).each do |i|
      .day.pevmonth

    - @cal_start = @date

    -(@cal_start..@date.end_of_month).each do |d|

      .day{day_num: "#{d.day}", class: "#{ wday_class(d) }", 'data-toggle'=>'tooltip', 'data-placement'=>'top', tooltip: 'ok' }
        =  d.day
    