%main

  
  =form_for 'appointment', { :url=> user_space_appointment_index_path(@user.id, @space.id),:method=> 'post' , :remote=>true, :html => {"data-type" => :script, role: 'form'}} do |f|
    
    %ul
      %h2= @date
      %li
        %select{id: 'state', name: 'state'}
          %option{value: 1} Add
          %option{value: 2} Remove
      %li
        %input{type: 'date' , id: 'start_date' ,name: 'start_date'}
      %li
        %input{type: 'date' , id: 'end_date', name: 'end_date'}
      %li
        %input{type: 'hidden', value: "#{ @space.id }", id: 'space_id'}
        =f.submit 'Update calendar', class: 'btn btn-primary btn-sm'


  = render :partial => 'calendar'