// Place all the styles related to the login controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



body{
	background: url("https://s3-eu-west-1.amazonaws.com/appearhere/assets/homepage/spoon.jpg");
}

.login-bar{

  float: right;
  margin: 10px;
  text-align: right;

  .btn-primary{
    margin-top:-10px;
  }
}
