#main-navigation
  %ul.nav.nav-pills.header-nav
    %div.navbar.navbar-fixed-top
      .navbar-inner
        .container
          .nav
            %ul.nav
              %li
                %a{:href=>logout_page_path} Logout