#mymodel.modal.hide.fade{role: 'dialog'}
  .modal-header
    %button.close{type: 'button', 'data-dismiss' => 'modal'} &times;
    %h3
      Please attend to errors
  .modal-body
    %p 
      There was an error creating the booking for this space...
  .modal-footer
    %a.btn.btn-primary{"data-dismiss" => "modal"} OK
