// Place all the styles related to the appointment controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


li{
	list-style-type:none;
	float:left;
	margin: 20px;
}

#calendar_holder{
  width:750px;
  height:auto;	
  clear:both;
  margin-left:60px;
}

#calendar_holder div{
	width:90px;
	height:90px;
	float:left;
	text-align: left;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}

header li{
	float:left;
	width:60px;
  margin-left:10px;
}

#day{
  float:left;
  width:90px;
  height:90px;
  padding: 2px;
  margin:0.5px;
}

.booked{
  background:#CCC;
}

.end{
  clear:both;
}