%h1 Manage your spaces

%main
  %table.table.table-striped
    %thead
      %td Name
      %td Description
      %td

    %tbody
      -@sites.each do |space|
        %tr
          %td= space.name
          %td= space.description.present? ? "#{space.description[0..80]}..." : ''
          %td= link_to 'Manage', user_space_appointment_index_path(current_user.id, space.id)
